

%% -*- erlang -*-
{erl_opts, [
    {parse_transform, lager_transform},
    nowarn_deprecated_function,
    {no_debug_info}
]}.

{deps_erl_opts, [{hipe, native}]}.

{deps_dir, ["/nfs/dependence_hz"]}.


{deps, [
    {gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.11"}}},
    {gun, ".*", {git, "https://github.com/ninenines/gun", {tag, "1.3.3"}}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.7.0"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.8.0"}}}
]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{sub_dirs, ["rel"]}.
